:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-text-1: #dfdfd6;
  --c-text-2: #98989f;
  --c-text-3: #6a6a71;

  --c-border: #3c3f44;
  --c-divider: #2e2e32;
  --c-gutter: #000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
    color: var(--c-text-1);
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    color: var(--c-text-1);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    color: var(--c-text-2);
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --c-text-1: #3c3c43;
    --c-text-2: #67676c;
    --c-text-3: #929295;

    --c-border: #c2c2c4;
    --c-divider: #e2e2e3;
    --c-gutter: #e2e2e3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 1rem;
    height: auto;
  }
}
